<section>
    <div class="wrapper">
        <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
            <div class="create-Title">
                <textarea formControlName="title" placeholder="Title"></textarea>
            </div>
            <div class="create-content">
                <md-editor formControlName="content" [mode]="mode" [options]="option" [height]="height">
                </md-editor>
            </div>
            <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip
                        *ngFor="let fruit of fruits"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="Add Tag(s)"
                        #fruitInput
                        [formControl]="fruitCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

            <div>
                <button class="button is-info is-fullwidth is-medium" type="submit" [disabled]="createPostForm.invalid">
                    <span>
                        Create Post
                    </span>
                    <span class="icon is-small" *ngIf="loading">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</section>