<div id="logreg-forms">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Continue with</h1>
        <div class="container">
            <div class="row social-login">
                <a role="button" class="col-md-5 btn google-btn"><span><i class="fa fa-google"></i> &nbsp;
                        Google</span></a>
                <a role="button" class="col-md-5 ml-auto btn facebook-btn mp"><span><i
                            class="fa fa-facebook-official"></i> &nbsp; Facebook</span> </a>
            </div>
            <div class="row mt-3 social-login">
                <a role="button" class="col-md-5 btn github-btn"><span><i class="fa fa-github"></i> &nbsp; Github</span>
                </a>
                <a role="button" class="col-md-5 ml-auto btn linkedin-btn mp"><span><i class="fa fa-linkedin"></i>
                        &nbsp; Linkedin</span></a>
            </div>
        </div>
        <p class="text-center mt-3"> OR </p>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user" nzSize="large">
                <input type="text" nz-input formControlName="username" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!" class="password-area">
              <nz-input-group nzPrefixIcon="lock" nzSize="large">
                <input [type]="hide ? 'password' : 'text'" nz-input formControlName="password" placeholder="Password" required />
                <a role="button" (click)="togglePwd()" class="togglepwdbtn">
                    <i nz-icon nzType="{{hide ? 'eye-invisible' : 'eye'}}" nzTheme="outline"></i>
                </a>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="remember" (click)="keepLoggedIn()">
                <span>Remember me</span>
              </label>
              <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
              <button nz-button class="login-form-button" nzType="primary" nzSize="large" [nzLoading]="loading">{{loading ? 'Logging In' : 'Log in'}}</button>
              <div class="text-center">
                <span>
                    Don't have an account? <a [routerLink]="['/auth/register']">Create one now</a>
                </span>
            </div>
            </nz-form-control>
          </nz-form-item>
    </form> 

</div>