<div id="logreg-forms">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Continue with</h1>
        <div class="container">
            <div class="row social-login">
                <a role="button" class="col-md-5 btn google-btn"><span><i class="fa fa-google"></i> &nbsp;
                        Google</span></a>
                <!-- <div class="col-lg-2 col-sm-0"></div> -->
                <a role="button" class="col-md-5 ml-auto btn facebook-btn mp"><span><i
                            class="fa fa-facebook-official"></i> &nbsp; Facebook</span> </a>
            </div>
            <div class="row mt-3 social-login">
                <a role="button" class="col-md-5 btn github-btn"><span><i class="fa fa-github"></i> &nbsp; Github</span>
                </a>
                <!-- <div class="col-lg-2 col-md-6">
                            </div> -->
                <a role="button" class="col-md-5 ml-auto btn linkedin-btn mp"><span><i class="fa fa-linkedin"></i>
                        &nbsp; Linkedin</span></a>
            </div>
        </div>
        <p class="text-center mt-3"> OR </p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="username">
        <div class="password-area">
            <input type="password" id="inputPassword" [type]="hide ? 'password' : 'text'" class="form-control"
                placeholder="Password" formControlName="password">
            <a role="button" (click)="togglePwd()">
                <i class="{{hide ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
            </a>
        </div>
        <button class="btn btn-success btn-block" type="submit"><i class="fa fa-sign-in"></i> Sign in</button>
        <div class="d-flex mt-2">
            <div class="form-check mr-auto">
                <input type="checkbox" (change)="keepLoggedIn($event)" formControlName="checked"
                    class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <a [routerLink]="['/auth/reset-password']" id="forgot_pswd">Forgot password?</a>
        </div>
        <hr>
        <!-- Don't have an account! -->
        <div class="text-center">
            <span>
                Don't have an account? <a [routerLink]="['/auth/register']">Create one now</a>
            </span>
        </div>
    </form>

</div>