$padding1rem: 1rem;


:host ::ng-deep md-editor{
    .md-editor-container{
        border: none;

        .editor-container{
            .preview-panel{
                border: none !important;
                img{
                    width: 100%
                }
            }

            .ace-tm{
                .ace_print-margin{
                    width: 0px;
                }
            }
        }
    }
}

.mb1_5{
    margin-bottom: $padding1rem * 1.5
}
.mb2{
    margin-bottom: $padding1rem * 2
}
.post_wrapper{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    button{
        outline: none
    }
}
.post-header{
    text-align: center;

    h1{
        font-size: 2.4rem;
        margin-bottom: 2rem;
        font-weight: 600;
        margin: 0 auto 1rem;
    }
    .post-author{
        align-items: center;
        margin-bottom: 1.5rem;
        span, time{
            margin: 0 .5rem 0 0;
        }
        .edit_del_actions{
            padding: 5px 0 0 5px;
            display: inline-flex;

            a{
                display: inline-block;
                background: #66e2d5;
                color: #0a0a0a;
                padding: 2px 12px 3px;
                border-radius: 3px;
                line-height: 1.1em;
                margin-right: 4px;

                &:last-of-type{
                    cursor: pointer;
                    color: #fff;
                    background: red;
                }
            }
        }
    }
}
mat-chip-list{
    .mat-chip-list-wrapper{
        justify-content: center !important
    }
}
.mat-chip{
    margin: 0 .5rem .5rem 0;
    padding: 4px 12px;
    border-radius: 1000px;
    font-weight: 500;
}
.body-text {
    font-size: 20px;
    line-height: 30px;  

    .content{
        text-align: justify
    }
}
.like_btn{
    border: 1px solid #e0e0e0;
    background: #f7f9fa;
    cursor: pointer;
    line-height: 1;
    border: 1px solid #e0e0e0;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 40px;
    padding: .5rem;

    img{
        width: 20px;
        height: 20px;
    }
    span{
        font-size: 1rem;
        font-weight: 600;
        color: #4d4d4d;
        display: inline-block;
        margin-left: 4px;
        color: blue;
        vertical-align: middle;
    }
}
.actionBtn{
    img{
        width: 20px;
        height: 20px;
    }
}
.postBtns{
    display: flex;

    .rightbtns{
        margin-left: auto
    }
}
.about_author{
    width: 85%;
    margin: auto;
    position: relative;
    overflow: hidden;
    // display: flex;

    .author_avatar{
        text-align: center;
        float: left;
        width: 90px;
        padding-top: 8px;

        img{
            // width: 96px;
            // height: 96px;width: 70px;
            width: 70px;
            height: 70px;
            border-radius: 100px;
            display: inline-block;
            // border-radius: 50%;
        }
    }
    .author_deets{
        // margin-left: .5rem;
        margin: auto;
        width: calc(100% - 92px);
        float: left;

        h4{
            margin: 13px 0 0;
            font-size: 28px;
            text-align: left;
            font-weight: 400;

            a{
                color: unset;
                text-decoration: none
            }
            strong{
                vertical-align: middle
            }

            .follow-btn{
                display: inline-block;
                border: 1px solid #2962ff;
                font-size: 13px;
                color: #ffffff;
                background: #2962ff;
                outline: 0;
                border-radius: 10px;
                border-radius: 5px;
                vertical-align: 2px;
                padding: 4px 7px;
                margin-left: 1rem;
                text-transform: uppercase;
            }
        }

        p{
            margin: 2px 0;
            padding-left: 0;
            line-height: 22px;
            font-size: 1rem;
        }
        .social{
            font-size: 0.85em;

            a{
                color: unset;
                text-decoration: none
            }
        }
    }
}
.create-comment{
    width: 85%;
    margin: auto;
}
.allComments{
    width: 85%;
    margin: auto;
}
@media (max-width: 499px) {
    .about_author{
        width: 100%;
    }
    .create-comment{
        width: 100%
    }
    .allComments{
        width: 100%
    }
    .post_wrapper{
        // font-size: 60%;
    }
    .body-text{
        padding-left: 0;
        padding-right: 0;
    }
}
.profile-pic{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: -9px;
    margin-right: 2px;
    background: #f5f6f7;
}
@media (min-width: 500px) and (max-width: 767px) {
    .post_wrapper{
        // font-size: 75%;
    }
    .body-text{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .post_wrapper{
        // font-size: 85%;
    }
    .body-text{
        // font-size: 85%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 992px){
    .post_wrapper{
        // font-size: 100%;
    }
    .body-text{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

