<section>
    <div class="post_wrapper">
        <div *ngIf="showpost" fxLayout="column">
            <div class="post-header" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <h1>{{post.title}}</h1>
                </div>
                <div class="post-author">
                    <span>
                        <a routerLink="/{{post.author.username}}" routerLinkActive="router-link-active"  class="author">
                            <img class="profile-pic" src="https://bulma.io/images/placeholders/128x128.png" alt="{{post.author.username}}">
                            <span>{{post.author.username | titlecase}}</span>
                        </a>
                    </span>
                    <span>·</span>
                    <span>{{result}} min read </span>
                    <span>·</span>
                    <time>{{post.createdAt | timeAgo }}</time>
                    <span *ngIf="authorAccess" class="edit_del_actions">
                        <a class="actionBtn edit_icon" title="Edit" [routerLink]="['/posts', post._id, 'edit']">
                            Edit
                        </a>
                        <a  class="actionBtn edit_icon" (click)="deleteThisPost(post)" title="Delete">
                            Delete
                        </a>
                    </span>
                </div>
                <div *ngIf="alltags && alltags.length > 0">
                    <mat-chip class="mat-chip" *ngFor="let tag of alltags">{{tag}}</mat-chip>
                </div>
            </div>
            <div class="post-content mt-3">
                <div class="body-text content">
                    <md-editor name="Content" [(ngModel)]="post.content" [mode]="mode" [options]="options"
                        [height]="height">
                    </md-editor>
                    <div class="postBtns">
                        <div>
                            <button mat-button class="like_btn" (click)="likePost(post._id)"
                                [style.border-color]="hasLikedThis" [style.background]="hasLikedThis2">
                                <img src="../../../../assets/thumbs.png" alt="like post" srcset="">
                                <span *ngIf="nooflikes !== 0">
                                    {{nooflikes}}
                                </span>
                            </button>
                        </div>
                        <div class="rightbtns">
                            <button mat-button class="actionBtn">
                                <img src="../../../../../assets/bookmark-white.png" alt="" srcset="">
                            </button>
                            <button mat-button class="actionBtn">
                                <img src="../../../../../assets/share.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="about_author">
                    <div class="author_avatar">
                        <a href="#">
                            <img src="https://bulma.io/images/placeholders/128x128.png" class=" is-rounded">

                        </a>
                    </div>
                    <div class="author_deets">
                        <h4>
                            <a href="#">
                                John Smith
                            </a>
                            <button class="follow-btn">
                                <span class="icon is-small"><i class="fa fa-user-plus"></i></span>
                                <span>
                                    follow
                                </span>
                            </button>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                        </p>
                        <p class="social">
                            <a href="#"> @anonymous</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="create-comment">
                <app-create-comment (saveNewComment)="saveNewComment($event)" [isReset]="resetForm"></app-create-comment>
            </div>
            <div class="allComments">
                <app-all-comments [postId]="post._id" [comments]="post.comments"></app-all-comments>
            </div>
        </div>
    </div>
</section>