<div class="field">
    <p>
        Leave a comment:
    </p>
    <form [formGroup]="commentForm" #editForm>
        <div style="border: 1px solid">
            <md-editor formControlName="content" mode="editor" [options]="option" [height]="'200px'">
            </md-editor>
        </div>
        <div class="comment_submit">
            <button class="button" (click)="addThisComment(commentForm.value)" type="submit"
                [disabled]="commentForm.invalid">Post Comment</button>
        </div>
    </form>
</div>