/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    box-sizing: content-box;
}

md-editor{
    .md-editor-container {
        // min-height: 60vh !important;
        // min-height: calc(60vh - 100px) !important;
        // padding: 32px 36px;
        width: 100%;
        border: 0 !important;
        font-size: 1.12rem;
        margin-bottom: 24px;
        color: #000;
        background: 0 0;

        .editor-container {
            .preview-panel {
                word-break: break-word;
                border-left: unset !important;
                text-align: justify;
              }

              .ace-tm .ace_print-margin{
                  width: unset !important
              }

              .ace-tm .ace_marker-layer .ace_active-line{
                  background: unset !important
              }

              .ace_gutter{
                  display: none;
              }
        }
      }
}