<div id="logreg-forms">
    <form nzForm class="form-signup" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Continue with</h1>
        <div class="container">
            <div class="row social-login">
                <a role="button" class="col-md-5 btn google-btn"><span><i class="fa fa-google"></i> &nbsp;
                        Google</span></a>
                <a role="button" class="col-md-5 ml-auto btn facebook-btn mp"><span><i
                            class="fa fa-facebook-official"></i> &nbsp; Facebook</span> </a>
            </div>
            <div class="row mt-3 social-login">
                <a role="button" class="col-md-5 btn github-btn"><span><i class="fa fa-github"></i> &nbsp; Github</span>
                </a>
                <a role="button" class="col-md-5 ml-auto btn linkedin-btn mp"><span><i class="fa fa-linkedin"></i>
                        &nbsp; Linkedin</span></a>
            </div>
        </div>

        <p style="text-align:center">OR</p>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Full Name!">
              <input nz-input nzSize="large" id="name" formControlName="name" placeholder="Full Name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="emailErr">
              <input nz-input nzSize="large" formControlName="email" id="email" placeholder="Email Address" />
              <ng-template #emailErr let-emailErr>
                <ng-container *ngIf="emailErr.hasError('required')">
                  Please input your Email!
                </ng-container>
                <ng-container *ngIf="emailErr.hasError('email')">
                  Please choose a valid Email!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username">
                <input nz-input nzSize="large" id="username" formControlName="username" placeholder="Username" />
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="inputErr">
              <input
                nz-input
                nzSize="large"
                type="password"
                id="password"
                formControlName="password"
                (ngModelChange)="updateConfirmValidator()"
                placeholder="Password"
              />
              <ng-template #inputErr let-inputErr>
                <ng-container *ngIf="inputErr.hasError('required')">
                  Please input your password!
                </ng-container>
                <ng-container *ngIf="inputErr.hasError('minlength')">
                  Please enter at least 6 characters!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl">
              <input nz-input nzSize="large" 
              type="password" 
              formControlName="checkPassword" 
              id="checkPassword" 
              placeholder="Repeat Password"/>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="agree">
                <span>I have read the <a>agreement</a></span>
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row class="register-area">
            <nz-form-control>
              <button nz-button nzBlock nzType="primary">Register</button>
            </nz-form-control>
          </nz-form-item>
          <hr>
          <div class="text-center">
              <span>
                  Already have an account? <a [routerLink]="['/auth/login']">Login here</a>
              </span>
          </div> 
    </form>

</div>